body {
    background: linear-gradient(45deg, #010101, #1f2833);
}

header {
    box-shadow: 0px 0px 100px -20px #000;
}

.h1, .h2 {
    font-family: 'Kaushan Script', cursive;
}

.h1 {
    font-size: 2rem;
}

.h2 {
    font-size: 2rem;
}

aside {
    width: 300px;
}

.scrollarea {
    height: calc(100% - 38px); 
    overflow-y: auto;
}

.scrollarea::-webkit-scrollbar {
    display: none;
}

input[type=search] {
    background: var(--bs-gray-100);
}

.chatbox {
    height: calc(100vh - 54px);
}

.message {
    min-width: 300px;
    max-width: 600px;
}

.contacts {
    height: calc(100vh - 124px);
    overflow-y: auto;
    background: var(--bs-gray-900);
}

.search-group {
    width: 500px;
}